.navbar{
    background-color:rgb(236, 239, 241); 
}

.navbar-brand{
    margin-left:10px;
}

.nav-text{
    padding-left: 30px;
    
}

.nav-link i, .nav-item i{
    font-size:10px;
}

.nav-section-right{
    margin-right: 30px;
    flex-direction: row-reverse;
}

.nav-section-right li{
    margin-left: 30px;
}

.nav-section-right button{
    color:  white;
    background-color: black;
    border-radius: 20px;
    padding-left:10px;
    padding-right: 10px;
    font-size: 14px;
}

.jumbotron img{ 
    width: 100%; 
} 

.returnal-logo{
    position: absolute;
    margin-top:10%;
    
}

.returnal-sottotitolo h4{
    margin-top: 10px;
    color:white;
    
}

.mini-box{
   margin-top: 30px;
}

.box-img-mini img{
    width: 100%;
}

.box-img-mini{

    border-radius: 20px;
    border:2px solid white;
    overflow: hidden;
}

.box-img-mini:hover{
    border:2px solid blue;
}

.box-img-inner{
    
    border:2px solid white;
    overflow:hidden;
    border-radius:20px;
}

.ecco-la-ps5{
    text-align: center;
    margin-top:80px;
    margin-bottom:30px;
}

.ecco-la-ps5 h6{
    color:rgb(42, 42, 238);
}

.ps-thumb{
    width: 100%;
}

.description button{
    border-radius: 20px;
    color: white;
    background-color:rgb(38, 38, 236);
}

.description, .ps-thumb{
    margin-top:30px; 
}

.mini-box-accessori{
    margin:0 auto;
}

.box-accessori-mini img{
    width: 100%;
}

.box-accessori-mini{
    font-size:12px;
   margin-top:20px;
    border:2px solid white;
    overflow: hidden;
}

.box-accessori-mini:hover{
    border-bottom:2px solid blue;
}

.box-accessori-inner{
    border:2px solid white;
    overflow:hidden;
}


.takes-two img{
    width: 100%;
    
}

.takes-two-logo{
    position: relative; 
    top:110%;
    left: 10%;
}

.nuove-uscite{
    padding-bottom:60px;
    padding-top:30px;
    color:white;
    background-color: rgb(65, 64, 64);
    
}

.box-nuove-uscite img{
    width: 100%;
    
    

}

.box-nuove-uscite:hover{
    border-radius:20px;
    border:4px solid blue;
}

.esplora-ps4-title {
    font-size:14px;
    text-align: center;
    margin-top:50px;
    margin-bottom:30px;
}

.esplora-ps4 img, .esplora-vr img, .esplora-accessori img{
    width:100%;
}


.esplora-ps4 button , .esplora-vr button , .esplora-accessori button{
    color: white;
    background-color: rgb(3, 90, 189);
    border-radius: 20px;
    margin-bottom:30px;
    
}