/* nav-bar */

.sony-black-bar{
    padding-top:10px;
    padding-bottom:10px;
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
}

.sony-black-bar img{
    width: 70px;
    
}

.navbar{
    background-color:rgb(236, 239, 241); 
}

.navbar-brand{
    margin-left:10px;
}

.nav-text{
    padding-left: 30px;
    
}

.nav-link i, .nav-item i{
    font-size:10px;
}

.nav-section-right{
    margin-right: 30px;
    flex-direction: row-reverse;
}

.nav-section-right li{
    margin-left: 30px;
}

.nav-section-right button{
    color:  white;
    background-color: black;
    border-radius: 20px;
    padding-left:10px;
    padding-right: 10px;
    font-size: 14px;
}

/* jumbo */

.jumbo-bg {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.returnal-content img{
    width: 70%;
}

.returnal-content {
    color: white;
}

.returnal-content button{
    border-radius: 200px;

}

.returnal-box {
    padding-top: 30%;
    padding-bottom: 10%;
}

/* mini box sotto il jumbo */

.mini-box{
   margin-top: 30px;
}

.box-img-mini img{
    width: 100%;
}

.box-img-mini{

    border-radius: 20px;
    border:2px solid white;
    overflow: hidden;
}

.box-img-mini:hover{
    border:2px solid blue;
}

.box-img-inner{
    
    border:2px solid white;
    overflow:hidden;
    border-radius:20px;
}

/* container "ecco la ps5" */

.ecco-la-ps5{
    text-align: center;
    margin-top:80px;
    margin-bottom:30px;
}

.ecco-la-ps5 h6{
    color:rgb(42, 42, 238);
}

.ps-thumb{
    width: 100%;
}

.description button{
    border-radius: 20px;
    color: white;
    background-color:rgb(38, 38, 236);
}

.description, .ps-thumb{
    margin-top:30px; 
}

.mini-box-accessori{
    margin:0 auto;
}

.box-accessori-mini img{
    width: 100%;
}

.box-accessori-mini{
    font-size:12px;
   margin-top:20px;
    border:2px solid white;
    overflow: hidden;
}

.box-accessori-mini:hover{
    border-bottom:2px solid blue;
}

.box-accessori-inner{
    border:2px solid white;
    overflow:hidden;
}

/* sezione container "it takes two" */

.takes-two-content {
    color: white;
}

.takes-two-content img{
    width: 70%;
}

.takes-two-banner {
    margin-top:20px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.takes-two-box {
    padding-top: 10%;
    padding-bottom: 10%;
}

.takes-two-box button{
    border-radius: 200px;
}

    /* sezione con box nuove uscite */

.nuove-uscite {
    padding-bottom:60px;
    padding-top:30px;
    color:white;
    background-color: rgb(65, 64, 64);
    
}

.box-nuove-uscite img{
    width: 100%;
    
    

}

.box-nuove-uscite:hover{
    border-radius:20px;
    border:4px solid blue;
}

 /* container ps4 */

.esplora-ps4-title {
    font-size:14px;
    text-align: center;
    margin-top:50px;
    margin-bottom:30px;
}

.esplora-ps4 img, .esplora-vr img, .esplora-accessori img{
    width:100%;
}


.esplora-ps4 button , .esplora-vr button , .esplora-accessori button{
    color: white;
    background-color: rgb(3, 90, 189);
    border-radius: 20px;
    margin-bottom:30px;
    
}

 /* ps plus */

.ps-plus{
    margin-top:30px;
    background-color: rgb(148, 148, 148);
}

.ps-plus-logo{
    width: 60%;
}

.ps-plus-img{
    width: 100%;
}

.ps-plus button{
    color: blue;
    background-color: rgb(199, 194, 194);
    border-radius: 20px;
    font-size:14px;

}

@media (max-width: 420px) {
    .ps-plus-img {
        display: none;
    }
    }
    
/* sezione sconti */

.sconti-ps-store{
    margin-top:30px;
}


.sconti-title{
   text-align: center;
}

.box-sconti img{
    width: 100%;
}

/* sezione ps now */

.ps-now{
    color: white;
    margin-top:30px;
    background-color: rgb(20, 64, 187);
}

.ps-now-img{
    width: 90%;
}

.ps-now-logo{
    width: 70%;
}

@media (max-width: 420px) {
    .ps-now-img {
        display: none;
    }
    }


    /* parte social */

.titolo-social{
    margin-top:30px;
    margin-bottom:40px;
    text-align: center;
}

.social-img{
    width: 90%;
}

@media (max-width: 420px) { 
    .social-img {
     margin-top:30px; 
          
    } 
    } 


    /* footer */

    footer{
        color: white;
        background-color: blue;
        margin-top:30px;
        padding-top: 30px;
        padding-bottom:30px;
    }

.footer img{
    width: 100%;
}

    footer ul{
        text-align: center;
        padding-top:20px;
        list-style: none;
    }

    .logo-sony-footer span{
        font-size:12px;
    }